{{#if error}}
    <div class="errorContainer">
        <p>{{error}}</p>
    </div>
{{/if}}

<section class="register-form-container">


    <form method="post">
        <h3>Register</h3>
        <label>Email</label>
        <input type="email" name="email" class="box" >
        <label>Username</label>
        <input type="text" name="username" class="box" >
        <label>Password</label>
        <input type="password" name="password" class="box" >
        <label>Confirm Password</label>
        <input type="password" name="rePassword" class="box" >
        <input type="submit" value="Register" class="btn">
        <p>Have an account ? <a href="/auth/login">Click here</a></p>
    </form>
</section>
